<nav class="sidebar bg-dark d-flex flex-column">
  <h4 class="text-white p-3 text-center">Workit.</h4>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active text-white" href="#">
        <i class="fa-solid fa-chart-line me-4 mx-2"></i>Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-building me-4 mx-2"></i>Available units
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-shield me-4 mx-2"></i>Invoices
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fa-regular fa-clock me-4 mx-2"></i>Projects
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-share-nodes me-4 mx-2"></i>Social media
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fa-brands fa-figma me-4 mx-2"></i>Integrations
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-file me-4 mx-2"></i>Documentation
      </a>
    </li>
  </ul>
  <ul class="nav flex-column mt-auto">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-gear me-4 mx-2"></i>Settings
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fa-solid fa-circle-question me-4 mx-2"></i>Help Center
      </a>
    </li>
  </ul>
</nav>